.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #111;
  color: white;
}

.nav a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: lightblue;
}